.news {
  margin: 0;
  color: #000000;
}

.news__wrap {
  background: #f6f3f0 url(../../build/i/bg-i/bg-white.jpg);
  padding: 55px 80px;
  margin: 0;
  margin-bottom: 34px;
  .row-flex();
}

.news__content {
  .margin-bottom();
  .col();
  .size(7);

}

.news__sidebar {
  .margin-bottom();
  .col();
  .size(4);
  .shift-left(1);
}
.content {
  .display-container();
  background: url(../../build/i/vertickal-line.png) no-repeat 450px 0;
}

.content__panel {
  padding-right: 30px;
}

.content__heading {
  margin-top: 0;
  margin-bottom: 30px;
}

.content__title,
.sidebar__title {
  .h2-rem-ttu();
  .text-bold();
}

.content__text {
  p {
    .h5-rem-ttu();
    .line-height(24);
    .text-bold();
    margin-bottom: 10px;
  }
  time {
    display: block;
    .h5-rem();
    font-style: normal;
    margin-bottom: 30px;
  }

}


.sidebar__figure {
  .white();
  margin-bottom: 45px;
  border: 7px solid #fff;
}

.sidebar__image {
  display: block;
  .width(286);
  .min-height(164);
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
}
